// Vicinae's server must run before its control commands can be used.
spawn-at-startup "vicinae" "server"

// Let windows opened by Vicinae receive focus on Niri.
debug {
    honor-xdg-activation-with-invalid-serial
}

binds {
    Alt+Space hotkey-overlay-title="Vicinae Launcher" { spawn "vicinae" "toggle"; }
    Mod+V hotkey-overlay-title="Vicinae Clipboard" { spawn "vicinae" "vicinae://launch/clipboard/history?toggle=true"; }
}
