layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bfcc99"
        inactive-color "#909285"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bfcc99"
        inactive-color "#909285"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bfcc99"
        inactive-color "#909285"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bfcc9980"
    }
}

recent-windows {
    highlight {
        active-color   "#556137"
        urgent-color   "#ffb4ab"
    }
}